//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - Flowfields.rc - version v7_02
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Engine/Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG       ICON         "big.ico"
IDI_SMALL     ICON         "small.ico"